body {
    padding: 40px 10px;
    background-color: rgb(36, 36, 36);
  }

label {
  color: white
}

h3 {
  color: white
}

p {
  color: white
}

 .col {
   color: white;
 }

 h1 {
   color: white;
 }

 .card {
   color: white;
   background-color: 	rgb(82, 82, 82);
 }