<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <title>{% block title %} {% endblock %} openJosh </title>
</head>
<body>

<div class="topnav">
  <a class="active" href="/">Home</a>
  <a href="/about/">About</a>
  <a href="/api/">Contact</a>
  <div class="search-container">
    <form action="/action_page.php">
      <input type="text" placeholder="Search.." name="search">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
  </div>
</div>

<div style="container">
    {% block content %} {% endblock %}
</div>

</body>
</html>